.filter_form {
  display: flex;
  gap: 24px;
  align-items: center;
}

.filter_label {
  text-transform: uppercase;
  font-weight: 700;
}

.filter_label input {
  height: 24px;
  min-width: 250px;

  padding: 16px;

  border: 2px solid #cdcdcd;
  border-radius: 16px;

  background-color: rgb(255, 244, 244);
}

.submit_btn {
  min-height: 48px;
  min-width: 60px;
  padding: 8px;

  border: none;
  border-radius: 16px;
}
