.quote_container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin: 0 auto;
  width: 50vw;
}
.quote_heading {
}

.quote {
}

.quote_author {
  align-self: flex-end;

  font-style: italic;
  font-size: 14px;
}

.load_btn {
  align-self: center;

  padding: 8px;

  width: 25%;
  border: 2px solid teal;
  border-radius: 16px;

  background-color: antiquewhite;
  color: teal;
  font-weight: 700;
}
